
#footer{
    text-align: center;
}

a:hover {
    background-position: 0 100%;
}
.gridcontainer {

    display: grid;
    display: inline-block;
    /*grid-template-columns: 66% 33% ;*/
    grid-auto-rows: 100px;
    /*text-align: center;*/
    padding-left: 100px;
    padding-right: 100px;
    font-family: Verdana;
    font-size: 20px;
    color: black;
    position: absolute;
}
.col-sm-8 {
    /*background-color: #B1D5E8;*/
}
.col-sm-4 {
    max-width: 100%;
}
.col-sm-7{
    margin-top: 100px;
}
.unit_nav a{
    border: 1px solid;
    color: #339;
    text-decoration: none;
    padding: 3px;
}
a:link {

}
a:-webkit-any-link {
    cursor: pointer;
}
.unit_nav {
    font-size: 20px;
    text-align: center;
}